
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{{description}}">
  <meta name="author" content="{{author}}">
  <meta name="date" content="{{date}}" scheme="YYYY-MM-DD hh:mm:ss">

  <title>{{title}} | {{blog-title}}</title>

  <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Lato:300' rel='stylesheet' type='text/css'>
  
  <link rel="stylesheet" type="text/css" href="./css/lib/wing.min.css" />
  <link rel="stylesheet" type="text/css" href="./css/styles.css" />

</head>

<body>
  <a href="/" id="home-btn"><img src="./img/arrow-left.svg" id="left-arrow"/>HOME</a>
  <p id="time"><span id="readTime"></span> min read</p>
  <p id="date"><span id="humanDate"></span></p>
  
  <div id="head">
    <div id="head-container">
      <div id="head-content">
        <h1 id="title">{{title}}</h1>
        <h4 id="description">{{description}}</h4>
      </div>
    </div>
  </div>
  
  <div id="content">
    <div class="container">
      <article id="post">{{content}}</article>
    </div>
  </div>
  <script type="text/javascript" src="./js/lib/twemoji.min.js"></script>
  <script type="text/javascript" src="./js/scripts.js"></script>
</body>

</html>
