body {
    color: #131313;
}

.container {
    text-align: left;
    width: 50% !important;
}

#title {
    font-size: 7rem;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}


#description {
    margin-top: 0rem;
    font-size: 3rem;
}

#home-btn {
    position: absolute;
    top: 5%;
    right: 5%;
    font-size: 3rem;
}

#blog-title a {
    text-decoration: none;
    color: #131313;
}

article {
    font-size: 2rem;
    font-family: 'Lato';
    font-weight: lighter;
}