body {
    color: #131313;
    overflow-x: hidden;
}

body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td {
    margin:0;
    padding:0;
}

.container {
    text-align: left;
    width: 50% !important;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
}

#home-btn {
    position: absolute;
    top: 5%;
    left: 5%;
    font-size: 2rem;
    border: 3px solid #131313;
    background-color: transparent;
    padding: 1.5rem 2.5rem;
    border-radius: 0px;
}

#home-btn {
    text-decoration: none;
    color: #131313;
}

#head {
    height: 100vh;
    width: 100vw;
    display: table;
    text-align: center;
}

#head-container {
    display: table-cell;
    vertical-align: middle;
}

#head-content {
    margin-right: auto;
    margin-left: auto;
}

#title {
    font-size: 7rem;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-bottom: 0.5rem;
}

#description {
    margin-top: 0rem;
    font-size: 3rem;
}

#blog-title a {
    text-decoration: none;
    color: #131313;
}

article {
    font-size: 2rem;
    font-family: 'Lato';
    font-weight: lighter;
}